              /* RESETEO DE ESTILOS */
              *{
                margin: 0;
                padding: 0;
                list-style: none;
                text-decoration: none;
                border: none;
                outline: none;
                font-size: 100%;
            }
            :focus {outline: none;}
            header, hgroup, aside, section, nav, footer, article, img {
                display: block;
            }
                    /* FIN RESETEO DE ESTILOS */
body{
    height: 100vh;
}                    
#caja{
    position: absolute;
    margin: 20% 10%;
    height: 40%;
    width: 50%;
    border: 3px solid black;
}                    
#pelota{
    position: absolute;
    bottom: 0px;
    left:0px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
     background: radial-gradient(
            circle at 0 0,
            hsl(60,100%,50%) 25%,
            hsl(60,100%,30%) 70%,
            hsl(60,100%,1%)); 
    animation:  /*  botax 0.1s   alternate  infinite ease-in  ,  */ botay 3s  alternate  infinite ease-in  ;
  }
  @keyframes botay{
    0% {
        
        transform: translateY(-220px);
        height: 100px;
      }
      
    45%{
    transform: translateY(-50px); 
    height: 100px;
  }
  
      48% {
        transform: translateY(0px);
        height: 95px;
      }
      51%{
        transform: translateX(10px);
        height: 70px;
    }
    61%{
      transform: translateX(-0%);
      height: 95px;
  }
   
      100% {
        transform: translateX(200px);
        height: 100px;
      }
 }  
    
      @keyframes botax{
       
        51%{
            transform: translateX(-30%);
            height: 70px;
        }
       
       
          100% {
            transform: translateX(200px);
            height: 100px;
          }
 
        }
  